@page "/eonetevents"

@using EonetApi
@inject EonetService EventService

<h1>Eonet Events</h1>

<p>Natural events as reported by Nasa's Eonet API.</p>


@if (eonetevents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Categories</th>
                <th>Title</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var eonetevent in eonetevents.Events)
            {
            <tr>
                <td>@eonetevent.Categories.First().Title</td>
                <td>
                    @eonetevent.Title
                </td><!-- <td><a href="@eonetevent.Link">Link</a></td> -->
                @foreach (var source in eonetevent.Sources)
                {
                  <td><a href="@source.Url">@source.Id.</a></td>
     
                }
            </tr>
            }

            </tbody>
        </table>
        }

        @code {

        private EonetApi.EonetEvents eonetevents;

        protected override async Task OnInitializedAsync()
        {
        eonetevents = await EventService.GetEvents();
        }
        }


